# Git и IDE
.git
.gitignore
.idea
.vscode

# Виртуальные окружения и кэш
.venv
venv
__pycache__
*.py[cod]
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache

*.log
*.tmp
*.swp

# Локальные БД/файлы окружения
app.db
*.sqlite
.env
.env.*

# Прочие артефакты
sbom.cdx.json
